* {margin:0px;padding:0px;}
nav {
  background-color: #494949;
  text-align: left;
  font-size: 1.5em;
  padding-top:0px;
  padding-left: 5px;
}
body {
  background-color:#808080;
  background-image: url("../static/Twitch-Banner.jpg");
}
a {
  text-decoration: none;
}
ul li a:visited {
  color: #262626;
}
ul li ul a:visited {
  color: #fff;
}
ul li ul a {
  color: #fff;
}
h1 {
  font-size: 3em;
  background-color: #6441A5;
  background-position:left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #F1F1F1;
  padding-left: 2.5em;
  font-family: "Impact", "Charcoal", "sans-serif";
  opacity: 0.97;
}
h2 {
  padding: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
}
#footer {
  position:relative;
  margin-top: 100px;
  clear: both;
  background-color: #262626;
  color:white;
  height:40px;
  padding:12px;
}
dd {
  padding-left:40px;
}
object{
  background-position: center;
  padding: 20px;
}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #D9D9D9;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { 
  background: #666;
}
ul li:hover ul {
  display: block;
  opacity: 0.98;
  visibility: visible;
  z-index: 1;
}
#block {
  box-shadow: 16px 16px #262626;
  opacity: 0.97;
}
#vid {
  opacity: 1;
  z-index: 1;
}