<DOCTYPE! html>
<html lang = "en">
<head>
<title>pickUp</title>
<link type="text/css" rel="stylesheet" href="../static/Twitch.css" />
</head>
<body>
	<h1>PickUp</h1>
    <nav>
      <ul><li><a href = "index.html">Home</a></li>
          <li>
          Live Events
            <ul>
                <li><a href = "top_pick.html">Developers Choice</a></li>
                <li><a href = "game1.html" >Top Stream</a></li>
            </ul>
          </li>
          <li>Upcoming Events
          <ul>
            <li><a href = "game1.html">{{Game1}}</a></li>
            <li><a href = "game2.html">{{Game2}}</a></li>
            <li><a href = "game3.html">{{Game3}}</a></li>
            <li><a href = "game4.html">{{Game4}}</a></li>
          </ul>
          </li>
          <li>Login
          <ul>
            <form action="profile.py">
            First name:<br>
            <input type="text" name="firstname" value="Mickey">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="Mouse">
            <br><br>
            <input type="submit" value="Login">
            <input type="submit" value="Register">
            </form>
          </ul>
          </li>
      </ul>
    </nav>
		<br><br>
	<div id="block" style="background-color: #F1F1F1; padding: 20px; margin:60px;">
    <h2>Welcome to our webpage</h2>
    <center>
<iframe id="ytplayer" type="text/html" width="720" height="405"
src="https://www.youtube.com/embed/1Sqi-AvRiC8"
frameborder="0" allowfullscreen>
    </center>
    <h2>{{Stream}}</h2>
		<center><object bgcolor="#000000"
        data="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf"
        height="468"
        type="application/x-shockwave-flash"
        width="832"
        >
  <param name="allowFullScreen"
          value="true" />
  <param name="allowNetworking"
          value="all" />
  <param name="allowScriptAccess"
          value="always" />
  <param name="movie"
          value="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" />
  <param name="flashvars"
          value="channel={{channel}}&auto_play=true&start_volume=50" />
</object></center>
  <br>
  <div style="padding-left:20px">
    <p><img src="{{picture}}" alt = "No Picture" style = "width : 60px; length : 60px">
    {{streamer}}</p>
  </div>
  <script>

// Suppress normal form submission
$("#firstname").submit( function(event) {
   event.preventDefault();
  });

$("#lastname").submit( function(event) {
   event.preventDefault();
  });

// On each keystroke, ask the server whether the current 
// word is long enough. 
//
// We use 'keyup' because the form value
// is updated before that event is generated.
// keypress is triggered before the input field has been
// updated.  Be aware that we'll see non-character keys like
// shift and control, so make sure whatever you do with the
// event does not depend on it being a letter. 
//
$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);

   // That letter might not be a letter ... it could be the
   // the backspace key, or even the shift key, because 'keyup'
   // catches all kinds of keys.  (Also, the difference between
   // upper and lower case comes from state of shift key + key code,
   // so ignoring the shift key we get only the upper case letters.

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

   $.getJSON( "/_countem", { text: txt }, 
              function(data) {
                rsval = data.result.long_enough;
                console.log("rsval: " + rsval)
                if (rsval) {
                   $("#response").html("That's enough!");
                   $("#attempt").val("");
                } else {
                   $("#response").append(txt.length + " "); 
                }
                showTiles(txt);
               }
           );
   });

// Demonstration of how we can insert graphical elements
// into a page, possibly building up the URLs of the elements
// dynamically.  In this case I have a set of Scrabble tiles with
// point values and a consistent naming scheme that allows me to
// generate a URL for each letter.  Browsers should cache the graphics
// files so that http requests are sent only the first time each
// element is encountered. 
//
function showTiles(text) {
   text = text.toUpperCase();  // tiles are letter-A.png, etc.
   tiles_html = "";  // Build up the html text of links
   for (var i=0; i < text.length; i++) {
       letter = text.charAt(i);
       if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) {
          continue;
       }
       var tileURL = "/static/img/letter-" + letter + ".png";
       var tileLink = "<img src='" + tileURL +
           "' style='border: 0px; margin: 0px;'/>";
       tiles_html = tiles_html + tileLink;
    }
    $("#tiles").html(tiles_html);
    // alert("Inserted html: " + tiles_html);
}
</script>
	</div>
</body>
<div id="footer">
  <i><small>Copyright &copy 2015 Hack Town USA Team: PickUp</small></i><br>
  <a href="mailto:jknees@uoregon.edu" style="text-decoration: underline">jknees@uoregon.edu</a>
  <br>
  <a href="mailto:brandonsov@gmail.com" style="text-decoration: underline">brandonsov@gmail.com</a>
</div>
</html>
