<DOCTYPE! html>
<html lang = "en">
<head>
<title>PickUp</title>
<link type="text/css" rel="stylesheet" href="../styles/pickup.css" />
</head>
<body>
	<h1>
    <img src="../images/pickup_white.png" alt="logo" style="width:150 px; height:100px;"> 
  </h1>
    <nav>
    </nav>
		<br><br>
	<div id="block" style="background-color: #FFFFFF; padding: 10px; margin:15px; margin-bottom: 150px; padding-bottom: 170;">
    <h2>Sportzballz
    </h2>
    <table id = "sportztable" style="width:100%">
              <tr>
                <th>Tennis 
                  <br>
                  <a href="../tennis_chat.html">
                  <img src="../styles/images/tennis.jpg"  alt="tennis" style="width:150 px;height:150px;"> 
                </a>
                </th>

                <th>Soccer
                  <br>
                  <img src="../styles/images/soccer.jpg" alt="soccer" style="width:150 px;height:150px;"> 
                </th> 

                <th>Cycling
                  <br>
                <img src="../styles/images/cyc.jpg" alt="cycling" style="width:150 px;height:150px;"> 
              </th>
              </tr>
              <tr>
                <th>Rock Climbing
                  <br>
                <img src="../styles/images/rc.jpg" alt="rock climbing" style="width:150 px;height:150px;"> 
                </th>
                <th>Swimming
                  <br>
                <img src="../styles/images/swim.jpg" alt="swimming" style="width:150 px;height:150px;"> 
                </th> 
                <th>Basketball
                  <br>
                <img src="../styles/images/bball.jpg" alt="basketball" style="width:150 px;height:150px;"> 
                </th>
              </tr>
              <tr>
                <th>Football
                  <br>
                <img src="../styles/images/fball.jpg" alt="football" style="width:150 px;height:150px;"> 
                </th>
                <th>Squash
                  <br>
                <img src="../styles/images/squash.jpg" alt="squash" style="width:150 px;height:150px;"> 
                </th> 
                <th>Running
                  <br>
                <img src="../styles/images/run.jpg" alt="running" style="width:150 px;height:150px;"> 
                </th>
              </tr>
            </table>
</body>
</html>
