<DOCTYPE! html>
<html lang = "en">
<head>
<title>PickUp</title>
<link type="text/css" rel="stylesheet" href="../styles/pickup.css" />
</head>
<body>
	<h1>PickUp</h1>
    <nav>
      <ul><li><a href = "index.html">Home</a></li>
          <li>Login
          <ul>
            <form action="profile.py">
            First name:<br>
            <input type="text" name="firstname" value="Mickey">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="Mouse">
            <br><br>
            <input type="submit" value="Login">
            </form>
            <form action="registration.html">
              <input type="submit" value="Register" />
            </form>
          </ul>
          </li>
      </ul>
    </nav>
		<br><br>
	<div id="block" style="background-color: #F1F1F1; padding: 20px; margin:60px;">
    <h2>Live Events
    </h2>
</body>
<div id="footer">
  <i><small>Copyright &copy 2015 Hack Town USA Team: PickUp</small></i><br>
  <a href="mailto:jknees@uoregon.edu" style="text-decoration: underline">jknees@uoregon.edu</a>
  <br>
  <a href="mailto:brandonsov@gmail.com" style="text-decoration: underline">brandonsov@gmail.com</a>
</div>
</html>
